@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #142e53;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #142e53;
  height: 100vh;
  color: white;
}

.formContainer {
  width: 850px;
}

input {
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
}

input:focus {
  outline: none;
}

.imageContainer {
  max-width: 1024px;
  min-width: 448px;
}

.nameText {
  color: #152F52;
  font-size: 20px;
  padding-left: 0.3px;
}

.positionText, .departmentText {
  color: #152F52;
  font-size: 13px;
  padding-left: 1.9px;
}

.logoPosition {
  position: relative;
  top: -4px;
}

.textPosition {
  position: relative;
  top: -4px;
}

.lineHeight {
  line-height: 1.2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
